@model Talabatak.Models.ViewModels.SliderVM

@{
    ViewBag.Title = "تعديل سلايدر الاضافى  ";
    var slider = ViewBag.EditSlider as Talabatak.Models.Domains.SecondSlider;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-edit"></i>السلايدر الاضافي</h3>
    </div>
    <div class="panel-body">
        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">
                        <a><i class="fa fa-fw fa-edit"></i> تعديل صورة من السلايدر</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @using (Html.BeginForm("Edit", "SecondSlider", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m=>slider.Id)
                                <div class="row" style="margin:10px">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Image" class="col-sm-5 control-label">الصورة قبل التعديل </label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <img src="@Url.Content(slider.ImagePath != null ? ("~/Content/Images/Slider/"+slider.ImagePath) : "~/Content/assets/imgs/unnamed.jpg")" width="150" height="50" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row" style="margin:10px">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Image" class="col-sm-5 control-label">تعديل  :</label>
                                        <div class="col-sm-7">
                                            <div class="input-group">
                                                <input class="form-control" type="file" name="Image" id="Image" accept="image/*" value="@Model.Image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">تعديل</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("العودة إلى القائمة", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>



