
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-right image">
                <img src="~/Content/assets/imgs/avatar.png" style="height:45px" class="img-circle" alt="" />
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>