@{
    ViewBag.Title = "تم الدفع";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<div class="panel panel-danger" style="direction:ltr !important ; text-align:center ;">

    <div class="panel-body" style="padding:16%">
        <h1 style="color:darkred">
            <i class="fas fa-times-circle" style="color:darkred ; font-size:150px"></i>
            <br />Canceled
        </h1>
    </div>
</div>
