<!--
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>F-MENT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">-->

    <!-- Favicons -->
    <!--<link href="~/Content/assets/imgs/favicon.png" rel="icon">
    <link href="~/Content/assets/imgs/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Google Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">-->

    <!-- Vendor CSS Files -->
    <!--<link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">-->

    <!-- Template Main CSS File -->
    <!--<link href="~/Content/assets/css/StyleWeb.css" rel="stylesheet">


</head>

<body>-->

    <!-- ======= Header ======= -->
    <!--<header id="header" class="fixed-top  header-transparent ">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="#"><img src="~/Content/assets/imgs/logo.png" alt=""></a></h1>

            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index(ar).html">الرئيسية</a></li>
                    <li><a href="#features">ميزات التطبيق</a></li>
                    <li><a href="#gallery">معرض التطبيق</a></li>
                    <li><a href="#contact">تواصل -معنا</a></li>
                    <li class="get-started">
                        <a href="http://www.fiminute.com/Drivers/Join">انضم كسائق</a>
                    </li>
                    <li class="get-started"><a href="http://www.fiminute.com/Stores/Join">انضم كمتجر</a></li>
                    <li class="get-started">
                        <a href="http://www.fiminute.com/AppJobs/Join">انضم كعامل</a>
                    </li>
                    <li class="get-started">
                        <a href="http://www.fiminute.com/cp">تسجيل الدخول</a>
                    </li>
                    <li class="get-started"><a href="/Home/Index">English</a></li>

                </ul>
            </nav>--><!-- .nav-menu -->

        <!--</div>
    </header>--><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <!--<section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                     data-aos="fade-up">
                    <div>
                        <h1>طلبك اسهل مع فى-مينت</h1>
                        <h2>
                            هل تبحث عن أسرع توصيل للطعام؟  .
                            كل ما تريده متوفر بضغطة زر - توصيل سريع، خيارات غير محدودة، دفع سهل بالفيزا وقسائم الشراء أونلاين.
                            احتياجاتك متوفرة لدينا -  في أي مكان في كفر الشيخ وقريبًا في المدن الأخرى. حمّل التطبيق وادفع خلال ثوانٍ قليلة ببطاقة الفيزا أو نقدًا عند التوصيل.
                        </h2>
                        <a href="https://play.google.com/store/apps/details?id=apps.projectegy.fiminute" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
                        <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
                     data-aos="fade-up">
                    <img src="~/Content/assets/imgs/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>--><!-- End Hero -->

    <!--<main id="main">-->

        <!-- ======= App Features Section ======= -->
        <!--<section id="features" class="features">
            <div class="container">

                <div class="section-title">
                    <h2>ميزات التطبيق</h2>
                    <p>
                        تحتاج أي حاجة من أي مكان <br>نعمل اليوم فى كفر الشيخ قريبا بمدن مصر
                    </p>
                </div>

                <div class="row no-gutters">
                    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bx bx-receipt"></i>
                                    <h4>لو جعان ومحتار تاكل ايه</h4>
                                    <p>ماذا تأكل ، سنجلب لك جميع المطاعم ونرى العروض اليومية والخصومات الخاصة لنا أيضًا</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>لو انتا عند الميكانيكى وعربيتك عطلانه</h4>
                                    <p> السيارة معطلة وجديدة ، سنقدم لك جميع طلباتها ونأخذها إلى الميكانيكي.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-images"></i>
                                    <h4>تحتاج طلبات</h4>
                                    <p>من أي مكان ، وإذا كنت ترغب في متابعة أي شيء إلى أي مكان ، فلا داعي للنزول والتعب بنفسك ، سنقوم بتسليمه لك</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-shield"></i>
                                    <h4>احتاج دواء</h4>
                                    <p>جميع الأدوية التي تحتاجها ستوصلك إلى باب المنزل والخصومات أيضًا</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
                         data-aos="fade-left" data-aos-delay="100">
                        <img src="~/Content/assets/imgs/features.svg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>--><!-- End App Features Section -->
        <!-- ======= Details Section ======= -->
        <!--<section id="details" class="details">
            <div class="container">

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="~/Content/assets/imgs/details-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3>إذا كنت مطعم أو أي نشاط.</h3>
                        <p class="font-italic">
                            لو انتا مطعم او اى نشاط ومحتاج حد يوصلك اوردراتك تقدر تتعاقد معانا وتريح دماغك من دوشة الدلفاريه
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i>لو جعان ومحتار تاكل ايه</li>
                            <li><i class="icofont-check"></i> لو انتا عاوز الميكانيكى </li>
                            <li><i class="icofont-check"></i> تحتاج طلبات</li>
                            <li><i class="icofont-check"></i> احتاج دواء</li>
                        </ul>
                        <p>
                            هل ترغب في زيادة دخلك!
                            انضم إلى مندوبينا وحقق دخلاً
                        </p>
                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="~/Content/assets/imgs/details-2.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>بدلاً من الوقوف في طوابير مملة في السوبر ماركت وإضاعة وقتك في شراء طلبات المنزل</h3>
                        <p class="font-italic">
                            بدلاً من الوقوف في طوابير مملة من السوبر ماركت وإضاعة وقتك في شراء طلبات المنزل من سوق الخضار واللحوم والأسماك والدجاج ، يمكنك شرائها وأنت في المنزل بأقل الأسعار وأيضًا مقارنة الأسعار وأيضًا مع الخصومات
                        </p>

                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="~/Content/assets/imgs/details-3.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5" data-aos="fade-up">
                        <h3>هل ترغب في زيادة دخلك! انضم إلى مندوبينا وحقق دخلاً</h3>
                        <p>اذا كنت تبحث عن اي خدمة (طبيب ، مهندس كهرباء ، سباك ، نجار ، حداد ، ميكانيكي ، سائق ... الخ)</p>
                        <ul>
                            <li><i class="icofont-check"></i> المتاجر</li>
                            <li><i class="icofont-check"></i> الخضروات والفواكه</li>
                            <li><i class="icofont-check"></i> متجر أو سوبر ماركت</li>
                            <li><i class="icofont-check"></i> مطاعم أو مقاهي</li>
                            <li><i class="icofont-check"></i>صيدليات</li>
                            <li><i class="icofont-check"></i> إرسال طرد أو كرتون</li>
                        </ul>


                    </div>
                </div>



            </div>
        </section>--><!-- End Details Section -->
        <!-- ======= Gallery Section ======= -->
        <!--<section id="gallery" class="gallery">
            <div class="container">

                <div class="section-title">
                    <h2>صور التطبيق</h2>
                    <p>هل تحتاج الى شخص ما لخدمتك؟<br>(طعام ، أشياء ، أوراق ، قطع غيار ، كل ما يدور في ذهنك)</p>
                </div>

                <div class="owl-carousel gallery-carousel" data-aos="fade-up">
                    <a href="~/Content/assets/imgs/gallery/gallery-1.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-1.png" alt="">
                    </a>
                    <a href="~/Content/assets/imgs/gallery/gallery-2.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-2.png" alt="">
                    </a>
                    <a href="~/Content/assets/imgs/gallery/gallery-3.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-3.png" alt="">
                    </a>
                    <a href="~/Content/assets/imgs/gallery/gallery-4.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-4.png" alt="">
                    </a>

                </div>

            </div>
        </section>--><!-- End Gallery Section -->
        <!-- ======= Contact Section ======= -->
        <!--<section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>تواصل معنا</h2>
                    <p>اتصل بنا إذا كنت بحاجة إلى أي خدمة ويمكنك زيادة دخلك انضم إلى مندوبينا ودر دخلاً وقت العمل المناسب لك قم بتفعيل حسابك بعد استيفاء الشروط والتأكد من هويتك ربح ضخم</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 info" data-aos="fade-up">
                                <i class="bx bx-map"></i>
                                <h4>العنوان</h4>
                                <p>
                                    دسوق<br>
                                    كفر الشيخ
                                    <br>مصر
                                </p>
                            </div>
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-phone"></i>
                                <h4>اتصل بنا</h4>
                                <p>+20 102 827 8273</p>
                            </div>
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-envelope"></i>
                                <h4>راسلنا عبر البريد الإلكتروني</h4>
                                <p>f-ment.com</p>
                            </div>
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-time-five"></i>
                                <h4>ساعات العمل</h4>
                                <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                            <div class="form-group">
                                <input placeholder="الاسم" type="text" name="name" class="form-control" id="name"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input placeholder="البريد الالكترونى" type="email" class="form-control" name="email" id="email"
                                       data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input placeholder="الموضوع" type="text" class="form-control" name="subject" id="subject"
                                       data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea placeholder="الرسالة" class="form-control" name="message" rows="5" data-rule="required"
                                          data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">تم ارسال رسالتك. شكرا لك!</div>
                            </div>
                            <div class="text-center"><button type="submit">أرسل رسالة</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>--><!-- End Contact Section -->

    <!--</main>--><!-- End #main -->
    <!-- ======= Footer ======= -->
    <!--<footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-contact" data-aos="fade-up">
                        <h3>فى-مينت</h3>
                        <p>
                            دسوق<br>
                            كفر الشيخ
                            <br>مصر<br>
                            <strong>رقم الهاتف:</strong>+20 102 827 8273<br>
                            <strong>بريد إلكتروني:</strong> f-ment.com<br>
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
                        <h4>وسائل التواصل الاجتماعى</h4>
                        <p>اتصل بنا</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>F-MENT</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://project-egy.com/">Project-Egy</a>
            </div>
        </div>
    </footer>--><!-- End Footer -->

    <!--<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>-->

    <!-- Vendor JS Files -->
    <!--<script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>-->

    <!-- Template Main JS File -->
    <!--<script src="~/Content/assets/js/main.js"></script>

</body>

</html>-->