<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>F-MENT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">-->

    <!-- Favicons -->
    <!--<link href="~/Content/assets/imgs/favicon.png" rel="icon">
    <link href="~/Content/assets/imgs/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Google Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">-->

    <!-- Vendor CSS Files -->
    <!--<link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">-->

    <!-- Template Main CSS File -->
    <!--<link href="~/Content/assets/css/StyleWeb.css" rel="stylesheet">


</head>

<body>-->

    <!-- ======= Header ======= -->
    <!--<header id="header" class="fixed-top  header-transparent ">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html"><img src="~/Content/assets/imgs/logo.png" alt=""></a></h1>

            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#features">App Features</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li class="get-started">
                        <a href="http://www.fiminute.com/Drivers/Join">Join as Driver</a>
                    </li>
                    <li class="get-started"><a href="http://www.fiminute.com/Stores/Join">Join as Store</a></li>
                    <li class="get-started">
                        <a href="http://www.fiminute.com/AppJobs/Join">Join as Worker</a>
                    </li>
                    <li class="get-started">
                        <a href="http://www.fiminute.com/cp">LogIn</a>
                    </li>
                    <li class="get-started"><a href="/Home/IndexAr">العربية</a></li>

                </ul>
            </nav>--><!-- .nav-menu -->

        <!--</div>
    </header>--><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <!--<section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                     data-aos="fade-up">
                    <div>
                        <h1>    </h1>
                        <h2>
                            Are you looking for the fastest food delivery? .
                            Everything you want is available at the click of a button - fast delivery, unlimited options, easy payment with Visa and online vouchers.
                            We have your needs covered - anywhere in Kafr El Sheikh and soon in other cities. Download the app and pay within a few seconds with a Visa card or cash on delivery.
                        </h2>
                        <a href="https://play.google.com/store/apps/details?id=apps.projectegy.fiminute" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
                        <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
                     data-aos="fade-up">
                    <img src="~/Content/assets/imgs/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>--><!-- End Hero -->

    <!--<main id="main">-->

        <!-- ======= App Features Section ======= -->
        <!--<section id="features" class="features">
            <div class="container">

                <div class="section-title">
                    <h2>App Features</h2>
                    <p>
                        Need any need from anywhere <br>We are working today in Kafr El-Sheikh soon the Egypt cities
                    </p>
                </div>

                <div class="row no-gutters">
                    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bx bx-receipt"></i>
                                    <h4>If hungry and confused</h4>
                                    <p>
                                        What do you eat, we will bring you all the restaurants to you
                                        And see daily offers and special discounts for us too
                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>I want a mechanic</h4>
                                    <p> car is out of order and fresh, we will bring you all its requests and take it to the mechanic.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-images"></i>
                                    <h4>need requests</h4>
                                    <p>
                                        From anywhere, and if you want to follow anything to any place, you do not need to come down and
                                        tire yourself, we will deliver it to you
                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-shield"></i>
                                    <h4>I need medicine</h4>
                                    <p>All your medicines that you need will bring you to the door of the house and discounts too</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
                         data-aos="fade-left" data-aos-delay="100">
                        <img src="~/Content/assets/imgs/features.svg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>--><!-- End App Features Section -->
        <!-- ======= Details Section ======= -->
        <!--<section id="details" class="details">
            <div class="container">

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="~/Content/assets/imgs/details-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3>If you are a restaurant or any activity.</h3>
                        <p class="font-italic">
                            If you are a restaurant or any activity and you need someone to connect you with orders, you can contract
                            with us and relax your brain from the delphinium shower
                        </p>
                        <ul>
                            <li><i class="icofont-check"></i>If hungry and confused</li>
                            <li><i class="icofont-check"></i> I want a mechanic.</li>
                            <li><i class="icofont-check"></i> need requests</li>
                            <li><i class="icofont-check"></i> I need medicine</li>
                        </ul>
                        <p>
                            Would you like to increase your income!
                            Join our delegates and generate income
                        </p>
                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="~/Content/assets/imgs/details-2.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Instead of standing in boring queues at the supermarket and wasting your time buying home orders</h3>
                        <p class="font-italic">
                            Instead of standing in the boring queues of the supermarket and wasting your time buying home orders from the market of vegetables, meat, fish, chicken, you can buy it while you are at home at the lowest prices and also compare the prices and also with discounts
                        </p>

                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="~/Content/assets/imgs/details-3.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5" data-aos="fade-up">
                        <h3>Would you like to increase your income! Join our delegates and generate income</h3>
                        <p>If you are looking for any service (doctor, electrical engineer, plumber, carpenter, blacksmith, mechanic, driver ... etc.)</p>
                        <ul>
                            <li><i class="icofont-check"></i> Stores</li>
                            <li><i class="icofont-check"></i> vegetables and fruits</li>
                            <li><i class="icofont-check"></i> A store or supermarket</li>
                            <li><i class="icofont-check"></i> Restaurants or cafes</li>
                            <li><i class="icofont-check"></i>Pharmacies</li>
                            <li><i class="icofont-check"></i> Send a parcel or carton</li>
                        </ul>


                    </div>
                </div>



            </div>
        </section>--><!-- End Details Section -->
        <!-- ======= Gallery Section ======= -->
        <!--<section id="gallery" class="gallery">
            <div class="container">

                <div class="section-title">
                    <h2>Gallery</h2>
                    <p>Do you need someone to serve you?<br>(food, things, papers, spare parts,whatever you have in mind)</p>
                </div>

                <div class="owl-carousel gallery-carousel" data-aos="fade-up">
                    <a href="~/Content/assets/imgs/gallery/gallery-1.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-1.png" alt="">
                    </a>
                    <a href="~/Content/assets/imgs/gallery/gallery-2.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-2.png" alt="">
                    </a>
                    <a href="~/Content/assets/imgs/gallery/gallery-3.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-3.png" alt="">
                    </a>
                    <a href="~/Content/assets/imgs/gallery/gallery-4.png" class="venobox" data-gall="gallery-carousel">
                        <img src="~/Content/assets/imgs/gallery/gallery-4.png" alt="">
                    </a>

                </div>

            </div>
        </section>-->
        <!-- End Gallery Section -->
        <!-- ======= Contact Section ======= -->
        <!--<section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact us if you need any service and you can increase your income Join our delegates and generate income Time for work that is right for you Activate your account after fulfilling the conditions and making sure of your identity Huge profit</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 info" data-aos="fade-up">
                                <i class="bx bx-map"></i>
                                <h4>Address</h4>
                                <p>
                                    Desouk<br> Kafr El-Sheikh
                                    <br>Egypt
                                </p>
                            </div>
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-phone"></i>
                                <h4>Call Us</h4>
                                <p>+20 102 827 8273</p>
                            </div>
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-envelope"></i>
                                <h4>Email Us</h4>
                                <p>f-ment.com</p>
                            </div>
                            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-time-five"></i>
                                <h4>Working Hours</h4>
                                <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                            <div class="form-group">
                                <input placeholder="Your Name" type="text" name="name" class="form-control" id="name"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Your Email" type="email" class="form-control" name="email" id="email"
                                       data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject"
                                       data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Message" class="form-control" name="message" rows="5" data-rule="required"
                                          data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>--><!-- End Contact Section -->

    <!--</main>--><!-- End #main -->
    <!-- ======= Footer ======= -->
    <!--<footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-contact" data-aos="fade-up">
                        <h3>F-MENT</h3>
                        <p>
                            Desouk <br>Kafr El-Sheikh
                            <br>Egypt<br>
                            <strong>Phone:</strong>+20 102 827 8273<br>
                            <strong>Email:</strong> f-ment.com<br>
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
                        <h4>Our Social Networks</h4>
                        <p>contact-us</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>F-MENT</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://project-egy.com/">Project-Egy</a>
            </div>
        </div>
    </footer>--><!-- End Footer -->

    <!--<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>-->

    <!-- Vendor JS Files -->
    <!--<script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>-->

    <!-- Template Main JS File -->
    <!--<script src="~/Content/assets/js/main.js"></script>

</body>

</html>-->