@{
    ViewBag.Title = "تم الدفع";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
<div class="panel panel-success" style="direction:ltr !important ; text-align:center ;">
  
    <div class="panel-body" style="padding:16%">
        <h1 style="color:forestgreen"><i class="fas fa-check-circle" style="color:forestgreen ; font-size:150px"></i>
        <br />Success</h1>
    </div>
</div>
