
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
    <title>تم الاشتراك فى التطبيق بنجاح</title>
    <link rel="icon" type="image/png" href="~/Content/assets/imgs/logo.png">
    <link href="~/Content/storejoin/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        * {
            font-family: Cairo;
        }

        #parent {
            display: table;
        }

        #child {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="text-center mt-5 pt-5" dir="rtl">
        <h3 class="display-2 text-success"><i class="fa fa-check-circle"></i></h3>
        <h3 class="display-4">شكراً لك</h3>
        <br />
        <p class="lead">تم استقبال طلب انضمامكم بنجاح ، سيتم مراجعه الطلب والتواصل مع سيادتكم من خلال احد <br />ممثلى خدمه العملاء عن طريق البريد الالكترونى المسجل او رقم الهاتف</p>
        <br>
        <p class="lead">
            <div class="text-center">
                <div class="col-12">
                    <a href="https://apps.apple.com/eg/app/feel-seka/id1530727276" target="_blank"><img src="~/Content/assets/imgs/ios.png" width="250" /></a>
                    <a href="https://play.google.com/store/apps/details?id=apps.felska" target="_blank"><img src="~/Content/assets/imgs/android.png" width="250" /></a>
                </div>
            </div>
        </p>
    </div>
</body>
</html>
